@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-style {
    @apply text-violet-800 hover:underline underline-offset-4 decoration-wavy font-semibold duration-300;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/JosefinSans-Medium.ttf');
}

@font-face {
  font-family: 'JosefinSlab';
  src: url('/fonts/JosefinSlab-Bold.ttf');
}